[package]
name = "piccy_core"
version = "0.1.1"
authors.workspace = true
license.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
image = { version = "0.25.8" }
serde = { version = "1.0.228", features = ["derive"] }
base64 = "0.22.1"
thiserror.workspace = true