name: release
on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - '!release-please**'
  workflow_dispatch:

env:
  APP_NAME: piccy

permissions:
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      core: ${{ steps.release-please.outputs['piccy_core--release_created'] }}
      app: ${{ steps.release-please.outputs['piccy_app--release_created'] }}
      node: ${{ steps.release-please.outputs['piccy_node--release_created'] }}
    steps:
      - name: 获取token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: 运行 release-please-action
        id: release-please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json

  build-tauri-app:
    uses: ./.github/workflows/build-tauri-app.yaml
    secrets: inherit

  build-npm-lib:
    uses: ./.github/workflows/build-npm-lib.yaml